/**-----RESET-----*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EFEFD0;
}

/**-------HEADER----------*/

header {
    background-color: #F7C59F;
    position: sticky;
    top: 0;
    z-index: 1;
}

/**----NAVBAR------*/

.nav-link {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #004E89;
    text-decoration: none!important;
    font-size: 20px;
}

.nav-link:hover,
.nav-link.active {
    color: #FF6B35
}

.navbar-brand img {
    height: 48px;
    width: auto;
}

.usuario-bolsa {
    height: 32px;
    width: auto;
    margin-right: 5px;
}

.navbar-toggler.collapsed {
    color: #004E89;
    border-width: 3px;
}

.navbar-toggler {
    color: #FF6B35;
    border-width: 3px;
}

/**---------MAIN INDEX---------*/

.hero img {
    max-height: 100%;
    margin: 0 auto;
    width: 100%
}

main h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    padding: 25px;
    color: #004E89;
}

.grid-container {
    margin-top: 30px;
    align-items: center;
    display: grid;
    grid-auto-rows: 400px;
    grid-template-columns: 50% 50%;
}

.grid-items {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.grid-items h2 a {
    color: #004e89;
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
}

.grid-items p { 
    color: #004E89;
    font-size: 20px;
    font-weight: 200px;
}

.texto-derecha-1, .texto-derecha-2 {
    display: flex;
    align-items: end;
}
.texto-derecha-1 p, .texto-derecha-2 p{
    text-align: right;
}


.texto-izquierda {
    display: flex;
    align-items: start;
}

.grid-items img {
    width: 400px;
    box-shadow: -4px 3px 13px 0px #FF6B35;
    -webkit-box-shadow: -4px 3px 13px 0px #FF6B35;
    -moz-box-shadow: -4px 3px 13px 0px #FF6B35;
}

/**-------MAIN NOSOTROS------*/
.nosotros {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nosotros p {
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 2px;
    color: #004E89;
}

.nosotros h2 {
    font-size: 25px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #004E89;
}

.bullet {
    margin-left: 10px;
    margin-right: 5px;
    height: 20px;
    width: auto;
}

.nosotros div ul li {
    font-weight: 400;
    font-size: 22px;
    margin-left: 30px;
    margin-right: 120px;
    text-decoration: none;
    color: #004E89;
}

.nosotros h3 {
    font-size: 25px;
    font-weight: 400;
    margin-left: 30px;
    margin-right: 120px;
    padding: 10px;
    color: #004E89;
}

.nosotros .marca {
    font-size: 30px;
    font-weight: bold;
    margin-left: 35px;
    margin-right: 120px;
    padding: 10px;
    color: #FF6B35;
}

.nosotros .slogan {
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
    margin-left: 30px;
    padding: 10px;
    color: #004E89;
}

.nosotros .hashtags {
    font-size: 25px;
    font-weight: 400;
    margin-left: 30px;
    margin-right: 120px;
    padding: 10px;
    color: #FF6B35;
}


/**-------MAIN AYUDA------*/

.ayuda {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ayuda p {
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 2px;
    color: #004E89;
}

.ayuda h2 {
    font-size: 25px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #004E89;
}

.ayuda h3 {
    font-size: 25px;
    font-weight: bold;
    margin-left: 30px;
    margin-right: 120px;
    padding: 10px;
    color: #004E89;
}

.ayuda ul li {
    font-weight: 400;
    font-size: 22px;
    margin-left: 30px;
    margin-right: 120px;
    text-decoration: none;
    color: #004E89;
}

.ayuda ol li {
    font-weight: 400;
    font-size: 22px;
    margin-left: 30px;
    margin-right: 120px;
    text-decoration: none;
    color: #004E89;
}

.ayuda p a {
    font-size: 25px;
    color: #FF6B35;
    text-decoration: none;
}

.faq h2 {
    font-size: 25px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 5%;
    color: #FF6B35;
}

.faq h3 {
    font-size: 22px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #004E89;
}

.faq p {
    font-size: 20px;
    font-style: italic;
    margin-left: 20px;
    margin-right: 20px;
    color: #004E89;
}

/**-----MAIN SHOP----*/

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.section-products {
    padding: 20px 0 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section-products .header {
    margin-bottom: 50px;
}

.section-products .header h3 {
    font-size: 35px;
    color: #004e89;
    font-weight: bold
}

.section-products .header h2 {
    font-size: 30px;
    color: #FF6B35;
    font-weight: 500; 
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-products .single-product .part-1::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
		transform: scale(1.2,1.2) rotate(5deg);
}

.section-products #product-1 .part-1::before {
    background: url("https://lolaaboud.github.io/lifestyle-proyecto-coder/img/adulto-abrazo-caballo.jpg") no-repeat center;
    background-size: cover;
		transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
    background: url("https://lolaaboud.github.io/lifestyle-proyecto-coder/img/adulto-corazon-caballo.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-3 .part-1::before {
    background: url("https://lolaaboud.github.io/lifestyle-proyecto-coder/img/ninio-caballos-corazon.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-4 .part-1::before {
    background: url("file:///C:/Users/Lola/Desktop/clon-proytecto-coder/img/adulto-abrazo-caballo.jpg") no-repeat center;
    background-size: cover;
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #EFEFD0;
    background-color: #FF6B35;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: #FF6B35;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #EFEFD0;
    background-color: #FF6B35;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
    color: #FF6B35;
}

.section-products .single-product .part-2 .product-title {
    color: #004E89;
    font-size: 20px;
}

.section-products .single-product .part-2 h4 {
    display: inline-block;
    color: #004E89;
    font-size: 20px;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #FF6B35;
    transform: translateY(-50%);
}

/**-----MAIN CONTACTANOS----*/

.container {
	max-width:800px;
	width:100%;
	margin:0 auto;
	position: relative;
}

.contact input[type="text"], .contact input[type="email"], .contact input[type="tel"], .contact textarea, .contact button[type="submit"] { font:400 16px/20px 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.contact {
	background:#F7C59F;
	padding:25px;
	margin:50px 0;
}

.contact h3 {
	color: #FF6B35;
    text-align: center;
    font-weight: bold;
	display: block;;
	font-size: 35px;
}

.contact h4 {
    color: #1A659E;
    text-align: center;
	margin:5px 0 15px;
	display:block;
	font-size: 18px;
    font-style: italic;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

.contact input[type="text"], .contact input[type="email"], .contact input[type="tel"], .contact input[type="url"], .contact textarea {
	width:100%;
	border:1px solid #FF6B35;
	background:#EFEFD0;
	margin:0 0 5px;
	padding:10px;
}

.contact input[type="text"]:hover, .contact input[type="email"]:hover, .contact input[type="tel"]:hover, .contact input[type="url"]:hover, .contact textarea:hover {
	-webkit-transition: color #1A659E 0.3s ease-in-out;
	-moz-transition: color #1A659E 0.3s ease-in-out;
	transition: color #1A659E 0.3s ease-in-out;
	border:1px solid #1A659E;
}

.contact textarea {
	height:100px;
	max-width:100%;
    resize:none;
}

.contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#1A659E;
	color:#EFEFD0;
	margin:0 0 5px;
	padding:10px;
	font-size:25px;
}

.contact button[type="submit"]:hover {
	background:#1A659E;
	-webkit-transition:color #F7C59F 0.3s ease-in-out;
	-moz-transition:color #F7C59F 0.3s ease-in-out;
	transition: color #1A659E 0.3s ease-in-out;
}

.contact button[type="submit"]:active { box-shadow:inset 0 1px 3px #FF6B35 (0, 0, 0, 0.5); }

.contact input:focus, .contact textarea:focus {
	outline:0;
	border:1px solid #1A659E;
}
::-webkit-input-placeholder {
    color:#1A659E;
}
:-moz-placeholder {
    color:#1A659E;
}
::-moz-placeholder {
    color:#1A659E;
}
:-ms-input-placeholder {
    color:#1A659E;
}

/**--------FOOTER--------*/

footer {
    background-image: linear-gradient(to top, #F7C59F, transparent);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    padding-top: 100px;
    max-height: 100%;
}

footer div ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer div ul li a {
    color: #004E89;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    text-decoration: none;
}

.logo-footer img {
    width: 100px;
}

.social-media i {
    font-size: 40px;
    color: #004E89;
    padding: 10px;
}

div form div .newsletter {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #004E89;
}

/**--- MEDIA QUERIES ---*/

@media screen and (max-width: 820px) {
    .grid-container {
        margin-top: 0;
        grid-template-columns: 1fr;
        align-items: center;
        grid-auto-rows: 220px;
    }
    .grid-items img {
        width: 450px;
    }
    .texto-derecha-1 {
        grid-area: 1/1/1;
        align-items: center;
    }
    .texto-derecha-2 {
        align-items: center;
    }
    .texto-izquierda {
        grid-area: 4/1/3;
        align-items: center;
    }
    .imagen-1 {
        grid-area: 2/1/2;
        align-items: center;
    }
    .imagen-2 {
        grid-area: 4/1/4;
        align-items: center;
    }  
}
@media screen and (max-width: 625px) {
    main h1 {
        font-size: 35px;
    }
    .grid-items img {
        width: 300px;
    }
    .texto-derecha-1 h2 a {
        font-size: 25px;
    }
    .texto-derecha-2 h2 a {
        font-size: 25px;
    }
    .texto-izquierda h2 a{
        font-size: 25px;
    }    
    .texto-derecha-1 p {
        font-size: 20px;
        text-align: center;
    }
    .texto-derecha-2 p {
        font-size: 20px;
        text-align: center;
    }
    .texto-izquierda p{
        font-size: 20px;
        text-align: center;
    }
    footer {
        justify-content: space-around;
    }
}
@media screen and (max-width: 370px) {
    main h1 {
        font-size: 30px;
    }
    .grid-items img {
        width: 250px;
    }
    .grid-container {
        grid-auto-rows: 180px;
    }
    .texto-derecha-1 h2 a {
        font-size: 22px;
    }
    .texto-derecha-2 h2 a {
        font-size: 22px;
    }
    .texto-izquierda h2 a{
        font-size: 22px;
    }    
    .texto-derecha-1 p {
        font-size: 18px;
        text-align: center;
    }
    .texto-derecha-2 p {
        font-size: 18px;
        text-align: center;
    }
    .texto-izquierda p{
        font-size: 18px;
        text-align: center;
    }
    footer {
        padding-top: 60px;
    }
    .logo-footer img {
        width: 90px;
    }
    footer div ul li a {
        font-size: 15px;
    }
    .social-media i {
        font-size: 30px;
    }
    div form div .newsletter {
        font-size: 18px;
    }
}