footer {
    background-image: linear-gradient(to top, $color-2, transparent);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    padding-top: 100px;
    max-height: 100%;

    .logo-footer {
        img {
            width: 100px;
        }
    }

    div {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                a {
                    color: $color-5;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    font-size: nth($font-size, 2);
                    text-decoration: none;
                }
            }
        }
    }

    div {
        i {
            font-size: nth($font-size, 8);
            color: $color-5;
            padding: 10px;
        }
    }

    div {
        form {
            div {
                .newsletter {
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    font-size: nth($font-size, 3);
                    color: $color-5;
                }
            }
        }
    }
}