//! VARIABLE

$color-1: #EFEFD0;
$color-2: #F7C59F;
$color-3: #FF6B35;
$color-4: #1A659E;
$color-5: #004E89;

//! LISTA

$font-size: 14px,
    18px,
    20px,
    22px,
    25px,
    30px,
    35px,
    40px,
    45px,
    16px;

//! OPERACION

$ancho-img: 400px;

//! MAPA

$links-footer: (
    ftn-color: $color-5,
    ftn-size: nth($font-size, 2),
    txt-deco: none,
);

//! EXTEND

%display-grid {
    display: grid;
    align-items: center;
}

;

//! MIXIN

@mixin flex($flex, $justify, $align, $column) {
    display: $flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $column;
}

;