//! VARIABLES

$color-1: #EFEFD0;
$color-2: #F7C59F;
$color-3: #FF6B35;
$color-4: #1A659E;
$color-5: #004E89;

//! LISTAS

$font-size:
14px,
18px,
20px,
22px,
25px,
30px,
35px,
40px,
45px,
16px;

//! OPERACIONES

$ancho-img: 400px

//! MAPAS


